---
const { language } = Astro.props;

const prefix = language.prefix === "es" ? "" : `/${language.prefix}`;

const sections = [
  language.nav.experience,
  language.nav.projects,
  language.nav.about,
  language.nav.contact,
];
---

<header id="header" class="fixed top-0 z-20 flex flex-col items-center w-full pt-2 space-y-3">
  <h1 id="signature" class="signature text-2xl font-bold">martinezdom</h1>

  <nav
    id="main-nav"
    class="flex px-4 py-2 text-sm font-medium bg-white dark:bg-blue-950 glitter rounded-full"
  >
    <ul class="flex space-x-4">
      {
        sections.map((section) => (
          <li>
            <a
              href={`${prefix}/${section.href}`}
              class="text-sky-500 hover:text-blue-950 hover:underline underline-offset-4 dark:text-white dark:hover:text-sky-500 transition-colors duration-200"
            >
              {section.title}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</headerclass=>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const signature = document.getElementById("signature");
    const header = document.getElementById("header");
    window.addEventListener("scroll", () => {
      const scrollY = window.scrollY;
      const scale = Math.max(1 - scrollY / 600, 0.8);
      signature.style.transform = `scale(${scale})`;
      if (scrollY > 100) {
        signature.style.opacity = "0.7";
        if (scrollY > 200) {
          signature.style.opacity = "0";
          header.classList.remove = "space-y-3";

        }
      } else {
        signature.style.opacity = "1";
      }
    });
  });
</script>
