---
import LanguageSelector from "./LanguageSelector.astro";
const { language } = Astro.props;

const prefix = language.prefix === "es" ? "" : `/${language.prefix}`;

const sections = [
  language.nav.experience,
  language.nav.projects,
  language.nav.about,
  language.nav.contact,
];
---

<header id="header" class="fixed top-0 z-20 flex flex-col items-center w-full pt-2 space-y-3 mb-8">
  <h1 id="signature" class="signature text-2xl font-bold">martinezdom</h1>

  <nav
    id="main-nav"
    class="flex items-center gap-4 px-6 py-2 text-sm font-medium bg-indigo-500/40 dark:bg-slate-900 glitter border-1 border-indigo-500/40 rounded-full"
  >
    <ul class="flex space-x-4">
      {
        sections.map((section) => (
          <li>
            <a
              href={`${prefix}/${section.href}`}
              class="text-slate-900 hover:text-indigo-500 hover:underline underline-offset-4 dark:text-white dark:hover:text-indigo-400 transition-colors duration-200"
            >
              {section.title}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="border-l border-indigo-500/40 dark:border-indigo-400 h-5"></div>
    <LanguageSelector language={language} />
  </nav>
</header>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const signature = document.getElementById("signature");
    const header = document.getElementById("header");
    
    signature.style.transition = "opacity 0.3s ease, transform 0.3s ease";
    header.style.transition = "gap 0.3s ease";
    
    window.addEventListener("scroll", () => {
      const scrollY = window.scrollY;
      const scale = Math.max(1 - scrollY / 600, 0.8);
      signature.style.transform = `scale(${scale})`;
      
      if (scrollY > 100) {
        signature.style.opacity = "0.7";
        if (scrollY > 200) {
          signature.style.opacity = "0";
          signature.style.pointerEvents = "none";
          header.classList.remove("space-y-3");
        } else {
          signature.style.pointerEvents = "auto";
          header.classList.add("space-y-3");
        }
      } else {
        signature.style.opacity = "1";
        signature.style.pointerEvents = "auto";
        header.classList.add("space-y-3");
      }
    });
  });
</script>
