---
import LanguageSelector from "./LanguageSelector.astro";
const { language } = Astro.props;

const prefix = language.prefix === "es" ? "" : `/${language.prefix}`;

const sections = [
  language.nav.experience,
  language.nav.projects,
  language.nav.studies,
  language.nav.about,
  language.nav.contact,
];
---

<header
  id="header"
  class="fixed top-0 z-20 flex w-full flex-col items-center px-6 pt-4 md:px-0"
>
  <div
    id="signature-wrapper"
    class="overflow-hidden transition-all duration-300 ease-in-out"
  >
    <h1 id="signature" class="signature mb-3 text-3xl font-bold">
      martinezdom
    </h1>
  </div>

  <nav
    id="main-nav"
    class="glitter mx-4 flex items-center gap-4 rounded-full border-1 border-indigo-500/40 bg-indigo-500/40 px-2 py-2 text-xs font-medium backdrop-blur-xl md:mx-2 md:px-6 md:text-sm dark:bg-slate-900/80"
  >
    <ul class="flex space-x-3 md:space-x-6">
      {
        sections.map((section) => (
          <li>
            <a
              href={
                section.title === language.nav.contact.title
                  ? "mailto:tartanasdev@gmail.com"
                  : `${prefix}/${section.href}`
              }
              class="whitespace-nowrap text-slate-900 underline-offset-4 transition-colors duration-200 hover:text-indigo-500 hover:underline dark:text-white dark:hover:text-indigo-400"
            >
              {section.title}
            </a>
          </li>
        ))
      }
    </ul>
    <div class="h-5 border-l border-indigo-500/40"></div>
    <LanguageSelector language={language} />
  </nav>
</header>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const signature = document.getElementById("signature");
    const signatureWrapper = document.getElementById("signature-wrapper");

    const signatureHeight = signature.offsetHeight + 12;
    signatureWrapper.style.maxHeight = `${signatureHeight}px`;

    signature.style.transition = "opacity 0.3s ease, transform 0.3s ease";

    window.addEventListener("scroll", () => {
      const scrollY = window.scrollY;
      const scale = Math.max(1 - scrollY / 600, 0.8);
      signature.style.transform = `scale(${scale})`;

      if (scrollY > 200) {
        signature.style.opacity = "0";
        signature.style.pointerEvents = "none";
        signatureWrapper.style.maxHeight = "0";
      } else {
        signature.style.pointerEvents = "auto";
        signatureWrapper.style.maxHeight = `${signatureHeight}px`;
        signature.style.opacity = "1";
      }
    });
  });
</script>
