---
const { language } = Astro.props;

const prefix = language.prefix === "es" ? "" : `/${language.prefix}`;

const sections = [
  language.nav.experience,
  language.nav.projects,
  language.nav.about,
  language.nav.contact,
];
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-3">
  <nav class="flex px-3 text-sm font-medium rounded-full">
    <!--<a href={`${prefix}/${language.nav.home.href}`} class="inline-flex items-center">
      <img src="/logo.png" alt="Logo martinezdom" class="size-16"/>
    </a>-->
    <ul class="flex space-x-4">
      {
        sections.map((section) => (
          <li>
            <a href={`${prefix}/${section.href}`}>{section.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<script>
  const nav = document.getElementById("main-nav");
  if (!nav) return;

  window.addEventListener("scroll", () => {
    if (window.scrollY > 50) {
      nav.classList.add(
        "backdrop-blur-md",
        "bg-white/70",
        "dark:bg-gray-900/70",
        "shadow-md"
      );
    } else {
      nav.classList.remove(
        "backdrop-blur-md",
        "bg-white/70",
        "dark:bg-gray-900/70",
        "shadow-md"
      );
    }
  });
</script>
