---
import Vue from "@/components/icons/Vue.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import PHP from "@/components/icons/PHP.astro";
import MySQL from "@/components/icons/MySQL.astro";
import JavaScript from "@/components/icons/JavaScript.astro";
import CSS from "@/components/icons/CSS.astro";
import Docker from "@/components/icons/Docker.astro";
import BrowserFrame from "@/components/BrowserFrame.astro";
import LinkButton from "@/components/icons/LinkButton.astro";
import Github from "@/components/icons/Github.astro";
import Eye from "./icons/eye.astro";
import SpringBoot from "@/components/icons/SpringBoot.astro";
import type { Translation } from "@/i18n/types";

interface Props {
  title: string;
  description: string;
  repositories: { label: string; url: string }[];
  image: string;
  imageAlt: string;
  languages: string[];
  url: string;
  language: Translation;
  onDevelopment?: string;
}

const {
  title,
  description,
  repositories,
  image,
  imageAlt,
  languages,
  url,
  language,
  onDevelopment,
} = Astro.props;

const TAGS: Record<
  string,
  { name: string; class: string; icon: any; iconClass?: string }
> = {
  Vue: {
    name: "Vue.js",
    class: "bg-[#41b883] text-white",
    icon: Vue,
    iconClass: "size-3.5",
  },
  TailwindCSS: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  PHP: {
    name: "PHP",
    class: "bg-[#777bb4] text-white",
    icon: PHP,
    iconClass: "h-4 w-auto",
  },
  MySQL: {
    name: "MySQL",
    class: "bg-[#4479a1] text-white",
    icon: MySQL,
  },
  JavaScript: {
    name: "JavaScript",
    class: "bg-[#f7df1e] text-black",
    icon: JavaScript,
  },
  CSS: {
    name: "CSS",
    class: "bg-[#1572b6] text-white",
    icon: CSS,
  },
  Docker: {
    name: "Docker",
    class: "bg-[#2c3e50] text-white",
    icon: Docker,
  },
  "Spring Boot": {
    name: "Spring Boot",
    class: "bg-[#6db33f] text-white",
    icon: SpringBoot,
  },
};

const tags = languages.map((langName) => {
  const tag = TAGS[langName];
  return (
    tag || {
      name: langName,
      class: "bg-gray-600 text-white",
      icon: null,
      iconClass: "",
    }
  );
});
---

<div class="w-full md:w-1/2 md:flex-shrink-0">
  {
    title !== "Repair Shop" && (
      <a href={repositories[0].url} target="_blank" rel="noopener noreferrer">
        <BrowserFrame image={image} alt={imageAlt} url={url} />
      </a>
    )
  }
  {
    title === "Repair Shop" && (
      <div class="relative flex aspect-video w-full animate-pulse flex-col items-center justify-center overflow-hidden rounded-lg border border-indigo-500 bg-gray-300/50 shadow-xl dark:border-yellow-400 dark:bg-gray-800/50">
        <p class="text-xl font-bold text-indigo-500 dark:text-yellow-400">
          {language.onDevelopment}
        </p>
      </div>
    )
  }
</div>
<div class="flex-row md:w-1/2">
  <div>
    <h3 class="mb-3 text-2xl font-semibold">
      <a
        href={repositories[0].url}
        class="text-indigo-500 transition-colors duration-200 hover:cursor-pointer hover:text-indigo-950 dark:text-yellow-400 dark:hover:text-indigo-500"
      >
        {title}
      </a>
    </h3>
  </div>
  <ul class="mb-3 flex flex-row flex-wrap gap-2">
    {
      tags.map((tag) => (
        <li>
          <span
            class={`flex items-center gap-x-2 rounded-full text-xs ${tag.class} px-2 py-1`}
          >
            {tag.icon && <tag.icon class={tag.iconClass || "size-4"} />}
            {tag.name}
          </span>
        </li>
      ))
    }
  </ul>
  <p class="mb-3 text-justify leading-8">{description}</p>
  <footer class="flex flex-wrap gap-2">
    {
      repositories.map((repo) => (
        <LinkButton href={repo.url}>
          <Github />
          {repo.label}
        </LinkButton>
      ))
    }
    {
      title == "Dom Books" && (
        <LinkButton href="https://dom-books.vercel.app/">
          <Eye />
          {language.demo}
        </LinkButton>
      )
    }
  </footer>
</div>
